<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cat.bcn.vincles.mobile">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- SYNC TASKS WITH ANDROID CALENDAR -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!-- IMEI ACCESS -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- START GCM ZONE -->
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- END GCM ZONE -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".AnalyticsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/vincles_app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:label"
        >
        <meta-data
            android:name="DATABASE"
            android:value="vincles-mobile.db" />
        <meta-data
            android:name="VERSION"
            android:value="3" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="cat.bcn.vincles.lib.vo" />
        <meta-data
            android:name="cat.bcn.vincles.mobile.VinclesGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="API_KEY" />

        <activity
            android:name=".activity.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.login.DisclaimerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.login.MigrateUserActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.login.MigrateValidateUserActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.login.MigrateUserActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.login.RegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.login.ValidateUserActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.login.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.login.RecoverPassActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.network.NetworkActivity"
            android:label="@string/title_activity_network"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.network.NetworkJoinActivity"
            android:label="@string/title_activity_network"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.network.NetworkSuccessActivity"
            android:label="@string/title_activity_network"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.videocall.VideoCallIntroActivity"
            android:label="@string/title_activity_video_call"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.videocall.VideoConferenceCallActivity"
            android:label="@string/title_activity_video_call"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.videocall.VideoCallLostCallActivity"
            android:label="@string/title_activity_video_call"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.message.details.MessageDetailAudioActivity"
            android:label="@string/title_activity_message"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.message.details.MessageDetailImageActivity"
            android:label="@string/title_activity_message"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.message.details.MessageDetailTextActivity"
            android:label="@string/title_activity_message"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.message.details.MessageDetailVideoActivity"
            android:label="@string/title_activity_message"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.message.MessageListActivity"
            android:label="@string/title_activity_message"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.message.MessageActivityNew"
            android:label="@string/title_activity_message"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.TaskActivity"
            android:label="@string/title_activity_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.diary.DiaryActivity"
            android:label="@string/title_activity_diary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.diary.DiaryDayDetailActivity"
            android:label="@string/title_activity_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.diary.DiaryActivityNew"
            android:label="@string/title_activity_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.notes.NotesActivity"
            android:label="@string/title_activity_notes"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.config.ConfigurationActivity"
            android:label="@string/title_activity_configuration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TourActivity"
            android:label="@string/title_activity_tour"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.JoinActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.about.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- START GCM ZONE -->
        <!-- [START gcm_listener] -->
        <service
            android:name=".push.VinclesFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->


        <!-- [START instanceId_listener] -->
        <service
            android:name=".push.VinclesInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->

        <receiver
            android:name=".monitors.SignalReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.RSSI_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>